<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>body { font-size: 1.4em; }</style>
    <title>Lunch Checker</title>
  </head>
  <body ng-app="LunchCheckerApp">
    <h1>Lunch Checker</h1>
    <div ng-controller="LunchCheckerController">
      <div>
        Your lunch:
        <input type="text"
          placeholder="list comma separated dishes you usually have for lunch"
          ng-model="lunchItems">
      </div>
      <div>Total lunch items is: {{countOfLunchItems}}</div>
      <div>This is: {{stateOfLunchItems}}</div>
      <div>
          <button ng-click="calculateLunchItems()">Check If Too Much</button>
      </div>
    </div>
  </body>
</html>
